@media (prefers-color-scheme: light) {
  .typeWriter {
    color: #272727;
    font-size: 14px;
  }
}

@media (prefers-color-scheme: dark) {
  .typeWriter {
    color: #C4C4C4;
    font-size: 14px;
  }
}