@media (prefers-color-scheme: light) {
  .authScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-main-bgColor);
    /* background-color: dodgerblue; */
  }
}

@media (prefers-color-scheme: dark) {
  .authScreen {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-main-bgColor);
    /* background-color: dodgerblue; */
  }
}