@media (prefers-color-scheme: light) {
  .chatFlow {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--dark-main-textColor);
    overflow-y: auto;
    padding: 30px;
  }
}

@media (prefers-color-scheme: dark) {
  .chatFlow {
    width: 100%;
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: var(--main-chat-bgColor);
    overflow-y: auto;
    padding: 30px;
    color: #CAD1D8;
  }
}