@media (prefers-color-scheme: light) {
  :is(.chatStripe, .chatStripeUser) {
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  .chatStripeUser {
    background-color: #fff;
  }

  .chatStripe {
    background-color: hsla(0, 0%, 85%, 0.5357);
  }

  :is(.chatStripe, .chatStripeUser) p {
    color: black;
    font-size: 15px;
    line-height: 1.5;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .userLogo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    filter: invert(1);
  }

  .gptLogo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    /* filter: invert(1); */
  }

  .text {
    width: 100%;
    word-wrap: break-word;
  }
}

@media (prefers-color-scheme: dark) {
  :is(.chatStripe, .chatStripeUser) {
    width: 100%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 2px;
  }

  .chatStripeUser {
    background-color: #343541;
  }

  .chatStripe {
    background-color: #444654;
  }

  :is(.chatStripe, .chatStripeUser) p {
    color: #C4C4C4;
    font-size: 15px;
    line-height: 1.5;
  }

  .content {
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 20px;
  }

  .avatar {
    height: 30px;
    width: 30px;
    border-radius: 50%;
  }

  .userLogo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    filter: invert(1);
  }

  .gptLogo {
    height: 30px;
    width: 30px;
    object-fit: contain;
    /* filter: invert(1); */
  }

  .text {
    width: 100%;
    /* background-color: red; */
    word-wrap: break-word;
  }
}