@media (prefers-color-scheme: light) {
  .signinScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@media (prefers-color-scheme: dark) {
  .signinScreen {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}